.App {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.App-link {
  color: #61dafb;
}

.paperStyle {
  padding: 20px;
  height: 70vh;
  width: 280px;
  margin: 20px auto;
}

.avatarStyle {
  background-color: #1bbd7e;
}

.btnstyle {
  margin: 10px 0;
}

.grid {
  background-color: yellow;
}
.comp {
  display: flex;
}

.bt {
  align-items: center ;
}